<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">	<meta name="viewport" content="width=device-width">
		<title>Chardin Computing</title>
	</head>
	<body>
		<div id="app">
			<v-app>
				<v-content>
					<v-container>Hello world {{ message }} </v-container>

					<v-container>Hello world 

						<v-row no-gutters >
							<v-col
							cols="2"
							>
								<v-card
								outlined
								tile
								>
								ici
								</v-card>
							</v-col>


							<v-col
							cols="8"
							>
								<v-card
								outlined
								tile
								>
								ici

								<div v-if="showPodcast" >

									hello ici

									<!-- {{podcastSrc[0]}} -->

<!-- <ol> -->
    <!-- <li v-for="src in podcastSrc"> -->
		<!-- hello -->
      <!-- {{ src }} -->
    <!-- </li> -->
  <!-- </ol> -->


									<audio controls v-for="src in podcastSrc" >
										<!-- <source src="http://chardin-computing.freeboxos.fr:3000/static/podcast/Day 1.mp3" type="audio/mpeg"> -->
										<source :src="buildSrc(src)" type="audio/mpeg">
										Your browser does not support the audio element.
									</audio>
								</div>

								</v-card>
							</v-col>


							<v-col
							cols="2"
							>
								<v-card
								outlined
								tile
								>
								ici
								</v-card>
							</v-col>

						</v-row>

					</v-container>

				</v-content>
			</v-app>
		</div>
	</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

<script charset="utf-8">

var app = new Vue({
	el: '#app',
	vuetify: new Vuetify(),
	data: {
		message: 'Hello Vue!',
		podcastSrc: null,
		showPodcast: false,
	},
	methods: {
		getPodcast: function(){
			axios.get('http://chardin-computing.freeboxos.fr:3000/podcast', {
			})
			.then((response)=> {
				this.podcastSrc = response.data;
				console.log(this.podcastSrc);
				console.log(this.showPodcast);
				this.showPodcast = true;
				console.log(this.showPodcast);
				console.log("hello");
			})
			.catch(function (error) {
				console.log(error);
			})
		},
		buildSrc: function(src){
			return "http://chardin-computing.freeboxos.fr:3000/static/podcast/" + src;
		}
	},
	mounted: function() {
		this.getPodcast();
	}
})

</script>
