<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">	<meta name="viewport" content="width=device-width">
		<title>Chardin Computing</title>
	</head>
	<body>
		<div id="app">
			<template>
				<v-app>
						<%- include('./layout/navbar.ejs'); %>
						<%- include('./layout/layout.ejs', {view: view}); %>
				</v-app>
			</template>
		</div>
	</body>
</html>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/http-vue-loader"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script type="module" charset="utf-8">

var app = new window.Vue({
	el: '#app',
	vuetify: new Vuetify(),
	components: {
	'my-router': window.httpVueLoader('http://chardin-computing.freeboxos.fr/<%= view %>.vue'),
	},
	data: {
		items: [
			{ title: 'Home', link: "/" },
			{ title: 'Post podcast', link: "/admin-podcast" },
		],
		message: 'Hello Vue!',
	},
	mounted: function(){
        this.$vuetify.theme.primary = '#E53935';
        this.$vuetify.theme.secondary = '#FFCDD2';
        this.$vuetify.theme.accent =  '#3F51B5';
	}
})

</script>

<style>

#link:link {
  text-decoration: none;
  color: white;
}

#link:visited {
  text-decoration: none;
  color: white;
}

#link:hover {
  text-decoration: none;
  color: white;
}

#link:active {
  text-decoration: none;
  color: white;
}

<style>
