<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">	<meta name="viewport" content="width=device-width">
		<title>Chardin Computing</title>
	</head>
	<body>
		<%= view %>
		slt
		<div id="app">
			<v-app>
				<%- include('layout.ejs', {view: view}) %>
			</v-app>
		</div>
	</body>
</html>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/http-vue-loader"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

<script type="module" charset="utf-8">

var app = new window.Vue({
	el: '#app',
	vuetify: new Vuetify(),
	components: {
		'my-router': window.httpVueLoader('<%= view %>.vue'),
	},
	data: {
		message: 'Hello Vue!',
	}
})

</script>
